[global]
port = 1701

[lns default]
ip range = {{ vpn_l2tp_pool }}
local ip = {{ vpn_l2tp_local }}
require chap = yes
refuse pap = yes
require authentication = yes
name = l2tpd
pppoptfile = /etc/ppp/options.xl2tpd
length bit = yes
